body{
    width:80%;
    margin:20px auto;
  
}

#addMenuPanel{
    background: skyblue;
  padding:20px;
 
}

.finished-menu{
    width:100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}
.btn-danger{
    margin-left:20px;
}