body{
    width:100%;
    margin:20px auto;
  
}
*{
   
}
.btn{
    padding:20px 30px;
   
}
#addMenuPanel{
    width:100%;
    background: skyblue;
  padding:20px;
 
}


.finished-menu{
    width:100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
    font-size:120%;
}
.btn-danger{
    margin-left:20px;
}